@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$font-color1: #101828;
$font-color2: #475467;
$font-color3: #FFFFFF;
$font-color4: #D0D5DD;
$bg-color1: #15B79E;
$bg-color2: #125D56;
$btn-hover:#0E9384;
$text-hover:#107569;