@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: Poppins;
  padding: 0;
  margin: auto;
}
body p {
  margin: 0;
  padding: 0;
}
body h1,
body h2,
body h3 {
  margin: 0;
  padding: 0;
}
body hr {
  max-width: 1440px;
  margin: auto;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

header {
  margin: auto;
  max-width: 1440px;
  padding: 0px 80px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  position: fixed;
}
header .navbar-parent {
  max-width: 1280px;
  padding: 18px 32px;
  display: flex;
  justify-content: space-between;
}
header .navbar-parent .navbar-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
header .navbar-parent .navbar-left .navbar-left-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 1px 0px;
  align-items: center;
}
header .navbar-parent .navbar-left .navbar-left-logo p {
  color: #101828;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24px;
}
header .navbar-parent .navbar-left .navbar-left-logo img {
  max-width: 32px;
  max-height: 32px;
}
header .navbar-parent .navbar-left .navbar-left-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 0px;
}
header .navbar-parent .navbar-left .navbar-left-menu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 32px;
}
header .navbar-parent .navbar-left .navbar-left-menu ul li {
  margin: 0;
  padding: 0;
}
header .navbar-parent .navbar-left .navbar-left-menu ul li p {
  color: #475467;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
}
header .navbar-parent .navbar-right {
  max-width: 142px;
  display: flex;
  gap: 12px;
  align-items: center;
}
header .navbar-parent .navbar-right #login {
  max-width: 48px;
  color: #475467;
  background-color: #FFFFFF;
  border: none;
  padding: 6px 0;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
}
header .navbar-parent .navbar-right #signup {
  background-color: #15B79E;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: #FFFFFF;
  gap: 8px;
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 20px;
}
header .navbar-parent .navbar-right #signup:hover {
  background-color: #0E9384;
}
header .navbar-parent .navbar-right #navbar-alternate {
  display: none;
  padding: 18px 32px;
  padding: 0;
}
header .navbar-parent .navbar-right #navbar-alternate img {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}
header .navbar-parent .navbar-right #navbar-alternate #navbar-alt-list {
  width: 100%;
  background-color: white;
  padding: 6px 32px;
  position: absolute;
  left: 0px;
  margin-top: 18px;
}
header .navbar-parent .navbar-right #navbar-alternate #navbar-alt-list ul {
  padding: 0;
  display: block;
  list-style-type: none;
  margin: 0;
}
header .navbar-parent .navbar-right #navbar-alternate #navbar-alt-list ul li {
  margin-right: 60px;
  display: block;
  gap: 10px;
  color: #475467;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 32px 10px 42px;
}
header .navbar-parent .navbar-right #navbar-alternate #navbar-alt-list ul li:hover {
  background-color: #F0FDF9;
}

.page1 {
  margin: auto;
  max-width: 1440px;
  padding: 0px 80px;
}
.page1 .welcome-page-parent {
  margin: auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px 32px;
  gap: 64px;
}
.page1 .welcome-page-parent .welcome-page-content {
  max-width: 576px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}
.page1 .welcome-page-parent .welcome-page-content .welcome-page-content-text {
  max-width: 576px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.page1 .welcome-page-parent .welcome-page-content .welcome-page-content-text h1 {
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 72px;
}
.page1 .welcome-page-parent .welcome-page-content .welcome-page-content-text p {
  font-weight: 400;
  color: #475467;
  font-size: 1.25 rem;
  line-height: 30px;
}
.page1 .welcome-page-parent .welcome-page-content .welcome-page-content-text img {
  max-width: 576px;
}
.page1 .welcome-page-parent .welcome-page-content #tryitfree-btn {
  max-width: 171px;
  padding: 16px 28px;
  border: none;
  color: #FFFFFF;
  background-color: #15B79E;
  border-radius: 8px;
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: 600px;
  gap: 12px;
}
.page1 .welcome-page-parent .welcome-page-content #tryitfree-btn:hover {
  background-color: #0E9384;
}
.page1 .welcome-page-parent .welcome-page-image {
  max-width: 576px;
  display: flex;
  flex-wrap: wrap;
}

.page2 {
  margin: auto;
  max-width: 1440px;
  padding: 0px 80px;
}
.page2 .about-page-parent {
  margin: auto;
  max-width: 1280px;
  padding: 96px 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 64px;
}
.page2 .about-page-parent .about-page-text {
  max-width: 1216px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page2 .about-page-parent .about-page-text .about-page-text-top {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.page2 .about-page-parent .about-page-text .about-page-text-top h1 {
  text-align: center;
  font-size: 2.25rem;
  line-height: 44px;
  font-weight: 600;
}
.page2 .about-page-parent .about-page-text .about-page-text-top p {
  text-align: center;
  color: #15B79E;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
}
.page2 .about-page-parent .about-page-text p {
  text-align: center;
  text-align: center;
  color: #101828;
  font-size: 1.25rem;
  line-height: 30px;
  font-weight: 400;
}
.page2 .about-page-parent .about-us-main {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 64px;
}
.page2 .about-page-parent .about-us-main .about-us-image {
  max-width: 576px;
}
.page2 .about-page-parent .about-us-main .about-us-content {
  max-width: 576px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
}
.page2 .about-page-parent .about-us-main .about-us-content .about-us-sub-content {
  max-width: 576px;
  display: flex;
  gap: 32px;
}
.page2 .about-page-parent .about-us-main .about-us-content .about-us-sub-content .about-us-details {
  max-width: 272px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page2 .about-page-parent .about-us-main .about-us-content .about-us-sub-content .about-us-details img {
  max-width: 48px;
}
.page2 .about-page-parent .about-us-main .about-us-content .about-us-sub-content .about-us-details .about-us-details-text {
  display: flex;
  flex-direction: column;
  max-width: 272px;
  gap: 8px;
}
.page2 .about-page-parent .about-us-main .about-us-content .about-us-sub-content .about-us-details .about-us-details-text h3 {
  color: #101828;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
}
.page2 .about-page-parent .about-us-main .about-us-content .about-us-sub-content .about-us-details .about-us-details-text p {
  color: #475467;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.page3 {
  margin: auto;
  max-width: 1440px;
  padding: 0px 80px;
  background-color: #125D56;
}
.page3 .feature-container {
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 32px;
  gap: 64px;
}
.page3 .feature-container .feature-container-title {
  max-width: 1216px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.page3 .feature-container .feature-container-title .feature-page-title-top {
  margin: auto;
  max-width: 986px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.page3 .feature-container .feature-container-title .feature-page-title-top p {
  color: #15B79E;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
}
.page3 .feature-container .feature-container-title .feature-page-title-top h1 {
  color: #FFFFFF;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 44px;
}
.page3 .feature-container .feature-container-title p {
  color: #FFFFFF;
  font-size: 1.25rem;
  line-height: 30px;
  font-weight: 400;
}
.page3 .feature-container .features-page-content {
  max-width: 1216px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}
.page3 .feature-container .features-page-content .features-page-subcontent {
  max-width: 384px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  padding: 32px 24px;
  align-items: center;
  gap: 20px;
}
.page3 .feature-container .features-page-content .features-page-subcontent img {
  max-width: 48px;
}
.page3 .feature-container .features-page-content .features-page-subcontent .features-page-text {
  display: flex;
  max-width: 336px;
  gap: 8px;
  flex-direction: column;
  text-align: center;
}
.page3 .feature-container .features-page-content .features-page-subcontent .features-page-text h2 {
  color: #101828;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 30px;
}
.page3 .feature-container .features-page-content .features-page-subcontent .features-page-text p {
  color: #475467;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.page4 {
  margin: auto;
  max-width: 1440px;
  padding: 0px 80px;
}
.page4 .tools-container {
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  padding: 96px 32px;
  justify-content: space-between;
  gap: 64px;
}
.page4 .tools-container .tools-contents {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 576px;
  gap: 24px;
}
.page4 .tools-container .tools-contents h1 {
  line-height: 44px;
  font-size: 2.25rem;
  font-weight: 600;
}
.page4 .tools-container .tools-contents p {
  color: #475467;
  font-size: 1.25rem;
  line-height: 30px;
  font-weight: 400;
}
.page4 .tools-container .tools-image {
  max-width: 576px;
}
.page4 .tools-container .tools-image img {
  max-width: 576px;
}

.page5 {
  margin: auto;
  padding: 0px 80px;
  max-width: 1440px;
}
.page5 .tryit-container-parent {
  margin: auto;
  max-width: 1280px;
  padding: 96px 0px;
}
.page5 .tryit-container-parent .tryit-container {
  background-color: #125D56;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 32px;
  gap: 64px;
  border-radius: 20px;
}
.page5 .tryit-container-parent .tryit-container .tryit-content {
  display: flex;
  flex-direction: column;
  max-width: 1216px;
  gap: 48px;
  align-items: center;
}
.page5 .tryit-container-parent .tryit-container .tryit-content .tryit-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page5 .tryit-container-parent .tryit-container .tryit-content .tryit-content-text h1 {
  font-size: 2.25rem;
  line-height: 44px;
  color: #FFFFFF;
  font-weight: 600;
}
.page5 .tryit-container-parent .tryit-container .tryit-content .tryit-content-text p {
  font-size: 1.25rem;
  line-height: 30px;
  color: #D0D5DD;
  font-weight: 400;
}
.page5 .tryit-container-parent .tryit-container .tryit-content #tryit-btn {
  max-width: 171px;
  padding: 16px 28px;
  border: none;
  color: #FFFFFF;
  background-color: #15B79E;
  border-radius: 8px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
}
.page5 .tryit-container-parent .tryit-container .tryit-content #tryit-btn:hover {
  background-color: #0E9384;
}

footer {
  margin: auto;
}
footer .footer-page {
  margin: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 64px 80px 48px 80px;
  gap: 64px;
}
footer .footer-page .accordion {
  max-width: 1280px;
  display: flex;
  padding: 0px 32px;
  gap: 162px;
  justify-content: space-between;
}
footer .footer-page .accordion .accordion-logo {
  max-width: 265px;
  display: flex;
  width: 100%;
  gap: 10px;
}
footer .footer-page .accordion .accordion-logo img {
  max-width: 48px;
  max-height: 48px;
}
footer .footer-page .accordion .accordion-logo h1 {
  color: #101828;
  font-size: 2.25rem;
  line-height: 44px;
  font-weight: 600;
}
footer .footer-page .accordion .accordion-menu {
  display: flex;
  max-width: 789px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 32px;
}
footer .footer-page .accordion .accordion-menu .accordion-menu-item {
  max-width: 173.25px;
  gap: 21px;
  display: flex;
  flex-direction: column;
}
footer .footer-page .accordion .accordion-menu .accordion-menu-item p {
  color: #475467;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}
footer .footer-page .accordion .accordion-menu .accordion-menu-item .accordion-menu-item-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 16px;
}
footer .footer-page .accordion .accordion-menu .accordion-menu-item .accordion-menu-item-list li {
  color: #475467;
  gap: 16px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
}
footer .footer-page .alternate-accordion-menu-parent {
  display: none;
}
footer .footer-page .alternate-accordion-menu-parent .alternate-accordion-menu-footer .alternate-accordion-menu .alternate-accordion-menu-item-list {
  display: none;
}
footer .footer-page .alternate-accordion-menu-parent .alternate-accordion-menu-footer .alternate-accordion-menu .alternate-accordion-menu-item-list li {
  font-size: 0.875rem;
  color: #475467;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 8px;
}
footer .footer-page .alternate-accordion-menu-parent .alternate-accordion-menu-footer .alternate-accordion-menu .alternate-accordion-menu-item-list li:hover {
  background-color: #F0FDF9;
}
footer .footer-page .footer-page-bottom {
  max-width: 1280px;
  padding: 31px 32px;
}
footer .footer-page .footer-page-bottom .footer-page-bottom-child {
  display: flex;
  justify-content: space-between;
}
footer .footer-page .footer-page-bottom .footer-page-bottom-child p {
  color: #475467;
  font-size: 0.875rem;
  line-height: 24.5px;
  font-weight: 500;
}
footer .footer-page .footer-page-bottom .footer-page-bottom-child p {
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 24.5px;
  font-size: 0.875rem;
}
footer .footer-page .footer-page-bottom .footer-page-bottom-child .footer-page-bottom-child-icons {
  display: flex;
  max-width: 168px;
  gap: 8px;
}
footer .footer-page .footer-page-bottom .footer-page-bottom-child .footer-page-bottom-child-icons img {
  width: 36px;
}/*# sourceMappingURL=style.css.map */