@import "variables";
@media only screen and (max-width: 1024px){
    $font-color1: #101828;
    header{
        padding: 0;
        .navbar-parent{
            padding: 18px 32px;
            .navbar-left{
                .navbar-left-menu{
                    display: none;
                }
            }
            .navbar-right{
                #navbar-alternate{
                    display: block;
                    #check-btn, #navbar-alt-list,#close-img{
                        display: none;
                    }
                    #check-btn:checked ~ #navbar-alt-list{
                        display: block;
                    }
                    #check-btn:checked ~ #close-img{
                        display: inline-block;
                    }
                    #check-btn:checked ~ #sort-img{
                        display: none;
                    }
                }
                #login,#signup{
                    display: none;
                }
            }
        }
    }
    .page1{
        padding: 0;
        .welcome-page-parent{
            flex-direction: column-reverse;
            padding: 64px 32px;
            gap: 32px;
            .welcome-page-content{
                max-width: 680px;
                .welcome-page-content-text{
                    max-width: 680px;
                    align-items: center;
                    text-align: center;
                }
                #tryitfree-btn {
                    max-width: 100%;
                }
            }
            .welcome-page-image {
                max-width: 500px;
            }
        }
    }
    .page2{
        padding: 0;
        .about-page-parent{
            padding: 64px 32px;
            gap: 48px;
            align-items: center;
            .about-us-main{
                flex-direction: column;
                align-items: center;
                .about-us-image {
                    max-width: 500px;
                }
                .about-us-content {
                    max-width: 680px;
                    .about-us-sub-content{
                        max-width: 680px;
                        .about-us-details{
                            max-width: 324px;
                            .about-us-details-text{
                                max-width: 324px;
                            }
                        }
                    }
            }
        }
    }
    }.page3{
        padding: 0;
        .feature-container {
            padding: 64px 32px;
            .features-page-content{
                grid-template-columns: repeat(2, 1fr);
                .features-page-subcontent{
                    max-width: 324px;
                    .features-page-text{
                        max-width:276px ;
                    }
                }
            }
        }
    }
    .page4{
        padding: 0;
        .tools-container{
            flex-direction: column-reverse;
            align-items: center;
            padding: 64px 32px;
            gap: 48px;
            .tools-image {
                max-width: 500px;
            }
            .tools-contents{
                max-width: 680px;
            }
        }
    }
    .page5{
        padding: 0;
        .tryit-container-parent{
            max-width: 680px;
            padding: 64px 32px;
            .tryit-container{
                padding: 64px 32px;
                .tryit-content{
                    max-width: 616px;
                }
            }
        }

    }
    .footer-page{
        // background-color: red;
        // background-color: magenta;
        padding: 0;
        .accordion{
            display: none;
        }

        .alternate-accordion-menu-parent{
           max-width: 748px;
           width: 100%;
           background-color: red;
            // background-color: red;
            display: flex;
            flex-direction: column;
            padding: 48px 32px 0px 32px;
            gap: 48px;
            .accordion-page-logo{
                background-color: yellow;
                display: flex;
                // flex: 1;
                max-width: 265px;
                gap: 10px;
                // background-color: blue;
                img{
                    max-width: 48px;
                }
                h1{
                    color:$font-color1 ;
                    font-size: 36px;
                    line-height: 44px;
                    font-weight: 600;
                }
            }
            .alternate-accordion-menu-footer{
                max-width: 680px;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color:maroon;
                gap: 16px;
                .alternate-accordion-menu{
                    display: flex;
                    flex-direction: column;
                    max-width: 680px;
                    gap: 20px;
                    // background-color: yellow;
                    flex: 1;
                    .alternate-accordion-menu-item{
                        // padding: 0px 0px 20px 0px;
                        gap: 12px;
                        .check-btn{
                            display: none;
                        }
                        #company-check:checked ~ #alternate-accordion-company-content{
                            display: flex;
                            max-width: 100%;
                            flex-direction: column;
                        }
                        // #company-check:checked ~ #company-expand{
                        //     display: none;
                        // }
                        #sales-check:checked ~ #alternate-accordion-sales-content{
                            display: flex;
                            max-width: 100%;
                            flex-direction: column;
                        }

                        #resources-check:checked ~ #alternate-accordion-resources-content{
                            display: flex;
                            max-width: 100%;
                            flex-direction: column;
                        }
                        #support-check:checked ~ #alternate-accordion-support-content{
                            display: flex;
                            max-width: 100%;
                            flex-direction: column;
                        }


                        .alternate-accordion-menu-item-title{
                            max-width: 680px;
                            // background-color: gray;
                            display: flex;
                            justify-content: space-between;
                            padding:0px 0px 20px 0px ;
                            p{
                                color: #475467;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                            }
                            img{
                                max-width: 24px;
                            }

                        }
                    }
                }
                .alternate-footer-page-bottom{
                    max-width: 680px;
                    background-color: pink;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // align-items: center;
                    flex: 1;
                    max-width: 680px;
                    padding:32px 0px;
                    .alternate-footer-page-bottom-icons{
                        align-items: center;
                        max-width:168px ;
                        // background-color: orange;
                        p{
                            font-family: "Montserrat";
                        }
                        img{
                            background-color: red;
                            max-width: 36px;
                            max-height: 36px;
                            gap: 8px;
                        }
                    }
                }
            }
        }



        .footer-page-bottom {
            display: none;
        }
    }
    
}

