@import "variables";
@media only screen and (max-width:480px){
    body{
        padding: 0px 0px 32px 0px;
    }
    header{
        .navbar-parent{
            padding: 16px;
        }
    }
    .page1{
        .welcome-page-parent{
            justify-content: center;
            padding: 64px 16px;
            .welcome-page-content{
                gap: 32px;
                .welcome-page-content-text{
                    max-width: 343px;
                    gap: 16px;
                    h1 {
                        font-size: 2.25rem;;
                        line-height: 44px;
                    }
    
                    p {
                        font-weight: 400;
                        color: $font-color2;
                        font-size: 1.125rem;;
                        line-height: 28px;
                    }
    
                    img {
                        max-width: 346px;
                    }
                }
                #tryitfree-btn {
                    max-width: 100%;
                }
            }
            .welcome-page-image {
                max-width: 343px;
            }
        }
    }
    .page2 {
        .about-page-parent {
            padding: 64px 16px;
            .about-page-text {
                gap: 16px;
                .about-page-text-top {
    
                    h1 {
                        font-size: 1.875rem;;
                        line-height: 38px;
                    }
                }
    
                p {
                    font-size: 1.125rem;;
                    line-height: 28px;
                    font-weight: 400;
                }
            }
            .about-us-main {
                max-width: 343px;
                gap: 48px;
    
                .about-us-image {
                    max-width: 343px;
                }
    
                .about-us-content {
                    max-width: 343px;
                    gap: 48px;
    
                    .about-us-sub-content {
                        max-width: 343px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 48px;
    
                        .about-us-details {
                            max-width: 343px;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
    
                            .about-us-details-text {
                                max-width: 343px;
                                gap: 8px;
    
                                h3 {
                                    color: $font-color1;
                                    font-size: 1.125rem;;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .page3 {
        .feature-container {
            padding: 64px 16px;
            .feature-container-title {
                max-width: 343px;
                gap: 16px;
                .feature-page-title-top {
                    h1 {
                        font-size: 1.875rem;;
                        line-height: 38px;
                    }
                }
    
                p {
                    font-size: 1.125rem;;
                    line-height: 28px;
                }
            }
            .features-page-content {
                max-width: 343px;
                grid-template-columns: 1fr;
    
                .features-page-subcontent {
                    .features-page-text {
                        max-width: 295px;
                        h2 {
                            font-size: 1.125rem;;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
    .page4 {
        max-width: 375px;
        .tools-container {
            max-width: 375px;
            padding: 64px 16px;
            gap: 48px;
            .tools-contents {
                max-width: 343px;
                gap: 16px;
                h1 {
                    line-height: 38px;
                    font-size: 1.875rem;;
                }
    
                p {
                    font-size: 1.125rem;;
                    line-height: 28px;
                }
            }
    
            .tools-image {
                max-width: 343px;
            }
        }
    }
    .page5 {
        .tryit-container-parent{
            max-width: 375px;
            padding: 32px 16px;
            .tryit-container {
                .tryit-content {
                    gap: 32px;
                    text-align: center;
        
                    .tryit-content-text {
                        gap: 16px;
        
                        h1 {
                            font-size: 1.875rem;;
                            line-height: 38px;
                        }
        
                        p {
                            font-size: 1.125rem;;
                            line-height: 28px;
                        }
                    }
        
                    #tryit-btn {
                        max-width: 279px;
                        width: 100%;
                        padding: 12px 20px;
                        font-size: 1rem;;
                        font-weight: 600;
                        line-height: 24px;
                    }
        
                }
            }
        }
    }
footer{
    .footer-page{
        .alternate-accordion-menu-parent{
            max-width: 480px;
            padding: 48px 16px 0px 16px;
            .accordion-page-logo{
                h1{
                    font-size: 1.875rem;
                }
            }
            .alternate-accordion-menu-footer{
                .alternate-footer-page-bottom{
                    flex-direction: column;
                    align-items: start;
                    padding:16px 0px;
                    gap: 12px;
                    .alternate-footer-page-bottom-icons{
                        max-width:168px ;
                        img{
                            max-width: 36px;
                            max-height: 36px;
                            gap: 8px;
                        }
                    }
                }
            }
        }
    }
}
}